<!DOCTYPE html>
<html>
<head>
  <title>Lifetracker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>	
  <%= csrf_meta_tags %>
</head>
<body>
	
<ul id="nav">
	<li><%= link_to "Dashboard", root_path %></li>
	<li><%= link_to "New Log", new_event_path %></li>
	<li><%= link_to "Logs", events_path %></li>
	<li><%= link_to "Categories", categories_path %></li>
	<li><%= link_to "My Account", edit_user_registration_path %></li>
</ul>

<%= yield %>

</body>
</html>
